* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, rgb(118, 156, 196), #d686ba);
}
.full-page-listmenu{
  display: flex;
  justify-content: center;
}


