* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  }


  .full-page-select {
    display: flex;
    justify-content:space-around;
    align-items:center;
    height: 20vh;
    background: linear-gradient(135deg, rgb(118, 156, 196), #d686ba);
    color: #fff;
    text-align: center;

    .div-day,
  .div-type {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 8px;
      font-weight: bold;
      color:whitesmoke;
    }

    select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 16px;
      text-align: center;
      color:white;
      background-color: rgba(255, 255, 255, 0.2);
      
      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }

.button{
    display:inline-block;
            padding: 0.75rem 1.5rem;
            margin: 3px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            color: white;
            text-decoration: none;
            font-size: 0.5 rem;
            transition: background-color 0.3s, transform 0.3s;
            gap: 10px;
       

            &:hover {
              background-color: rgba(255, 255, 255, 0.4);
              transform: scale(1.05);
            }

}}

@media (min-width: 768px) {
  .full-page-select {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Espaciado interno mayor para pantallas más grandes */
  }

  .div-day,
  .div-type {
    margin-bottom: 0; /* Elimina el margen entre los selectores */
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .full-page-select {
    height: 50vh; /* Ajuste de altura para tabletas */
    padding: 20px;

    .div-day,
    .div-type {
      margin: 0 10px;
    }
  }
}

/* Estilos para móviles */
@media (max-width: 767px) {
  .full-page-select {
    flex-direction: column; /* Ajuste para móviles */
    justify-content: center;
    align-items: center;
    height: 40vh; /* Ajuste de altura para móviles */

    .div-day,
    .div-type {
      margin: 10px 0;
    }
  }
}@media (min-width: 768px) and (max-width: 1023px) {
  .full-page-select {
    height: 50vh; /* Ajuste de altura para tabletas */
    padding: 20px;

    .div-day,
    .div-type {
      margin: 0 10px;
    }
  }
}


@media (max-width: 767px) {
  .full-page-select {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 40vh; 

    .div-day,
    .div-type {
      margin: 10px 0;
    }
  }
}