.form-card {
  margin: 20px;
  width: 60%;
  border-style: double;

  form {
    h2{
    text-decoration: underline;
    color: pink;
   margin-bottom: 20px;
    }
    label {
      font-size: medium;
      font-style: inherit;
      color: black;
    }

    input {
      background-color: azure;
      display: block;
      width: 60%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      cursor: text;
    }
    button {
     
      padding: 10px;
      width: 60%;
      background-color: white;
      border-color: black;
      border-style: dotted;
      border-radius: 20px;
      text-align: center;
      font-weight: bold;
      color: black;
      cursor: pointer;
    }
  }
}
